<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227991435834-s2n641bcnev7a45cnkneqfe2u3ik851v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227991435834-s2n641bcnev7a45cnkneqfe2u3ik851v</string>
	<key>API_KEY</key>
	<string>AIzaSyCBmXFHYnXq_w2R_crwD5SjCy8mNUx950E</string>
	<key>GCM_SENDER_ID</key>
	<string>227991435834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.middilook</string>
	<key>PROJECT_ID</key>
	<string>middi-look</string>
	<key>STORAGE_BUCKET</key>
	<string>middi-look.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227991435834:ios:a42a513d64b13390e05303</string>
</dict>
</plist>