<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmpLc9L_ZoXwYh5qDCMneuMVgVcX9ILRI</string>
	<key>GCM_SENDER_ID</key>
	<string>960381829170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.mr.middilook</string>
	<key>PROJECT_ID</key>
	<string>middilook</string>
	<key>STORAGE_BUCKET</key>
	<string>middilook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960381829170:ios:f86242bd3a7f8b86dd3c2b</string>
</dict>
</plist>